<div class="row">
<li class="list-group-item disabled font-weight-light col-6">
	{{id}} {{burger_name}}
</li>
<button class="mt-3 mx-4 h-50 change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
	{{#if devoured}}Devour!{{else}}Devoured!{{/if}}
</button>
</div>


